.authModal {
	background-color: white;
	max-width: 300px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 10px;
	font-family: "Roboto", sans-serif;
}

.modalTitle {
	font-size: 1rem;
	font-weight: 500;
	padding-bottom: 1rem;
	border-bottom: 2px solid #e8e8e8;
}

.tips {
	font-size: 0.8rem;
	list-style-position: inside;
	margin: 0;
	padding: 0.5rem 0;
	border-bottom: 2px solid #e8e8e8;
	color: grey;
}

.tips li:last-child {
	padding-top: 0.2rem;
}

.query,
.answer {
	color: grey;
	font-size: 0.9rem;
	text-align: center;
}

.signUpQuery {
	margin-top: 0.8rem;
	color: grey;
	font-size: 0.9rem;
	text-align: center;
}

.answer {
	color: #35ce8d;
	width: fit-content;
	margin: auto;
	padding: 0;
	background-color: white;
	border: none;
	cursor: pointer;
	padding-top: 0.3rem;
}
