.editProfileForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	width: 100%;
	padding-bottom: 2rem;
}

.inputContainer {
	padding-bottom: 0.5rem;
	width: 100%;
}

.inputContainer:first-of-type {
	display: flex;
	align-items: center;
}

.inputLabel,
.inputField {
	display: block;
}

.inputLabel {
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

.inputField {
	font-size: 1rem;
	width: 100%;
	padding: 0.5rem;
	border-radius: 8px;
	outline: 2px solid #e8e8e8;
	border: none;
	color: grey;
	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	background-color: white;
}

.inputField:focus {
	outline: 2px solid #35ce8d;
}

.imageContainer {
	border-radius: 50%;
	overflow: hidden;
	height: 75px;
	width: 75px;
	background-color: white;
}

.rightColumn {
	padding-left: 0.5rem;
}

.name {
	font-size: 1.3rem;
	font-weight: 500;
}

.mediaUpload {
	display: none;
}

.mediaUploadButton {
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
	cursor: pointer;
	border: none;
	background: none;
	color: #35ce8d;
}

.submitButton {
	width: 100%;
	cursor: pointer;
	background-color: #35ce8d;
	color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 8px;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	margin-top: 0.5rem;
}
