.post {
	width: 100%;
	/* background-color: aquamarine; */
	padding: 2rem;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	font-family: "Roboto", sans-serif;
	display: flex;
	background-color: white;
}

.post:first-child {
	border-top: 1px solid grey;
}

.imgContainer {
	/* height: 2.3rem; */
	margin-right: 0.5rem;
}

.userImgWrapper {
	display: block;
	height: 2.1rem;
	width: 2.1rem;
	border-radius: 50%;
	overflow: hidden;
}

.userImg {
	height: 100%;
}

.postContainer {
	width: 100%;
}

.postDetails {
	padding-bottom: 0.5rem;
}

.displayName {
	font-weight: 600;
	font-size: 1rem;
}

.postTime {
	font-size: 0.85rem;
	font-weight: 300;
	color: grey;
}

.postText {
	font-size: 0.95rem;
	white-space: pre-line;
}

.postImg {
	width: 100%;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 0.5rem;
}

.imgWrapper {
	width: 100%;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 0.5rem;
	overflow: hidden;
	display: block;
}

/* Interact container */

.interactContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;
	width: 100%;
}

.interactLeft,
.interactRight {
	display: flex;
}

.interactButton {
	border-radius: 8px;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

.interactButton:first-child {
	margin-right: 1rem;
}

.interactButtonImg {
	height: 1.2rem;
	width: 100%;
	display: block;
}
