.navContainer {
	padding: 16px 0;
	background-color: #35ce8d;
	font-family: "Roboto", sans-serif;
	position: sticky;
	top: 0;
	z-index: 2;
	overflow-x: clip;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	max-width: 1000px;
	width: 100%;
	margin: auto;
}

@media only screen and (max-width: 1000px) {
	.navBar {
		padding: 0 3%;
	}
}
