.navListButton {
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
	display: inline;
}

.toolTip {
	visibility: hidden;
	width: 75px;
	background-color: black;
	opacity: 0.75;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 12px;

	position: absolute;
	z-index: 99;
	top: 100%;
	left: 50%;
	margin-left: -37.5px;
	margin-top: 5px;
}

.navListButton:hover .toolTip,
.navListAnchor:hover .toolTip {
	visibility: visible;
}

.navListButton img {
	height: 100%;
	padding: 0;
}

@media only screen and (max-width: 600px) {
	.toolTip {
		left: 100%;
		margin-left: -75px;
	}
}
