.navListContainer {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	height: 35px;
}

.navListItem {
	display: inline-block;
	height: 100%;
	margin-left: 10px;
	text-align: center;
	position: relative;
}

.navListContainer li:first-child {
	padding-left: 0;
	margin-left: 0;
}
