.appMain {
	display: flex;
	position: relative;
	max-width: 1000px;
	width: 100%;
	margin: auto;
}

@media only screen and (max-width: 1000px) {
	.appMain {
		padding: 0 3%;
	}
}
@media screen and (display-mode: standalone) {
	.appMain {
		/* background-color: #f0f2f5; */
		padding: 0;
		overflow: scroll;
	}
}
