.tabSection {
	/* background-color: white; */
	max-width: 250px;
	width: 100%;
	border: 1px solid grey;
	background-color: white;
	font-family: "Roboto", sans-serif;
	height: calc(100vh - 72px);
	position: sticky;
	top: 72px;
	left: 0;
}

.linkTab {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.settingsLink,
.linkBorderLeft {
	padding: 1rem;
	width: 100%;
	transition: background-color 0.3s ease-in-out;
	border-left: 2px solid transparent;
}

.settingsLink:hover,
.linkBorderLeft:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.linkBorderLeft {
	border-left: 2px solid black;
}

.settingsContent {
	/* display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center; */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	border: 1px solid grey;
	border-left: none;
	flex: 1;
	background-color: white;
	padding: 2rem;
}
