.backButton {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	cursor: pointer;
	background: none;
	border: none;
	font-size: 2rem;
	margin-right: 0.5rem;
	transition: all 0.2s ease-in-out;
	padding: 0 0.3rem;
	border-radius: 0.3rem;
}

.backButton:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.tabSection {
	/* background-color: white; */
	max-width: 250px;
	width: 100%;
	border: 1px solid grey;
	background-color: white;
	font-family: "Roboto", sans-serif;
	height: calc(100vh - 59px);
	position: sticky;
	top: 59px;
	left: 0;
}

.linkTab {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.settingsLink,
.linkBorderLeft {
	padding: 1rem;
	width: 100%;
	transition: background-color 0.3s ease-in-out;
}

.settingsLink:hover,
.linkBorderLeft:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.linkBorderLeft {
	box-shadow: inset 2px 0 0 0 black;
}

.settingsContent {
	/* display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center; */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	border: 1px solid grey;
	border-left: none;
	flex: 1;
	background-color: white;
	padding: 2rem;
}

@media only screen and (max-width: 600px) {
	.tabSection {
		max-width: 100%;
	}

	.settingsContent {
		height: calc(100vh - 59px);
		border-left: 1px solid grey;
	}
}

@media only screen and (min-width: 600px) {
	.backButton {
		display: none;
	}
}
