@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Colors
baby green - #dcf6e8
light green - #35CE8D
dark green - #259076
*/

/* Fonts
font-family: 'Roboto', sans-serif;
*/

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #f0f2f5;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}
