.headerContainer {
	padding: 1rem 0;
	background-color: #35CE8D;
    font-family: 'Roboto', sans-serif;
	width: 100%;
	position: sticky;
	top: 0;
}

.headerWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

/* Header left */

.headerLeft{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.headerLeftActive{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.headerLeft a, .headerLeftActive a{
	display: inline-block;
	margin-right: 10px;
	height: 40px;
}

.headerLogo{
	height: 100%;
	width: max-content;
}

.searchBarContainer{
	display: flex;
	background-color: #dcf6e8;
	border-radius: 10px;
	height: 40px;
	width: 100%;
}

.searchImageButton{
	border: none;
	height: 100%;
	padding: 0;
	cursor: pointer;
	background:none;
	position: relative;
}

.searchImage{
	height: 100%;
	padding: 5px;
}

.searchBar{
	font-size: 16px;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: grey;
    font-family: 'Roboto', sans-serif;
    background:none;
	padding-left: 0;
}

/* Header center */

.dailyMessage{
	text-align: center;
	width: 100%;
	margin: 0;
}

/* Header right */

.navListContainer{
	margin: 0;
	padding: 0;
	height: 40px;
	white-space: nowrap;
}

.navListContainer li{
	display: inline-block;
	margin-left: 10px;
	height: 100%;
	background-color: #dcf6e8;
	border-radius: 10px;
	text-align: center;
}

.navListAnchor{
	position: relative;
	display: inline-block;
	margin-top: 0;
	height: 100%;
}

.navListAnchor img{
	height: 100%;

}

.navListButton{
	height: 100%;
	border: none;
	background:none;
	padding: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.navListContainer li img{
	height: 100%;
	padding: 5px;
}

.navListContainer li:first-child{
	padding-left: 0;
	margin-left: 0;
}

.toolTip{
	visibility: hidden;
	width: 100px;
	background-color: black;
	opacity: 0.75;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 12px;

	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -50px;
	margin-top: 5px;
}

.navListButton:hover .toolTip,.navListAnchor:hover .toolTip, .searchImageButton:hover .toolTip{
	visibility: visible;
}

@media only screen and (max-width: 1000px) {
	/* For mobile phones: */
	.headerWrapper{
		padding: 0 3%;
	}
}

@media only screen and (max-width: 700px) {
	.dailyMessage{
		display: none;
	}
}

@media only screen and (max-width: 350px) {
	/* For mobile phones: */
	.searchBarContainer{
		height: 30px;

	}

	.searchBarContainerActive{
		height: 30px;
	}

	.navListContainer{
		height: 30px;
	}
}
