.userCardContainer {
	flex: 1;
}

.userCardContainerPreview {
	width: 100%;
}

.userCard,
.userCardPreview {
	background-color: white;
	border: 1px solid grey;
	border-left: none;
	/* padding: 2rem 1rem; */
	position: sticky;
	top: 72px;
	background-color: white;
	font-family: "Roboto", sans-serif;
	color: black;
}

.userCardPreview {
	border: 1px solid grey;
	/* padding: 2rem 1rem; */
}

.cardTop {
	width: 100%;
}

.backgroundWrapper {
	display: block;
	width: 100%;
}

.cardBottom {
	padding: 0 1rem;
}

.userImgRow {
	height: 37.5px;
	display: flex;
	justify-content: space-between;
}

.imgWrapper {
	position: relative;
	top: -37.5px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	width: 75px;
	height: 75px;
	background-color: white;
}

.userDetails {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.displayName,
.displayNameLoading {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.3rem;
}

.symbol {
	display: inline-block;
	align-items: center;
	vertical-align: text-top;
	font-size: 0.85rem;
	letter-spacing: 0.05rem;
}

.description,
.descriptionLoading {
	font-size: 0.95rem;
	line-height: 1.5;
	margin-bottom: 0.3rem;
}

.joined,
.joinedLoading,
.userActivity,
.userActivityLoading {
	font-weight: 300;
	color: grey;
	font-size: 0.85rem;
}

.userActivity,
.userActivityLoading {
	margin-top: 0.2rem;
	display: flex;
}

.displayNameLoading,
.descriptionLoading,
.joinedLoading,
.userActivityLoading {
	color: #35ce8d;
	width: fit-content;
	border-radius: 5px;
	background-color: #35ce8d;
}

.posts {
	padding-left: 0.5rem;
}

.editButton {
	display: block;
	margin-top: 0.5rem;
	background: none;
	border: none;
	background-color: #35ce8d;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	padding: 0.5rem;
	width: 100%;
	font-size: 1rem;
	transition: background-color 0.3s ease-in-out;
	text-align: center;
}

.editButton:hover {
	background-color: #259076;
}

.loadingCard {
	width: 100%;
	text-align: center;
}

/* .topCard {
	width: 100%;
	background: hsla(155, 61%, 51%, 1);
	padding: 0 1rem;
} */
